header {
    background-color: var(--ex-color-bg-color-secondary);
    height: 80px;
    display: flex;
    align-items: center;
    padding: 30px;
}

header h1 {
    color: var(--ex-color-text-color-primary);
    font-size: 20px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: var(--ex-color-text-color-primary);
}

.nav-item {
    font-size: 14px;
}

.nav-700 {
    font-weight: 700;
}